html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; /* ✅ This fixes the Framer Motion warning */
}


@font-face {
  font-family: 'Malevolent';
  src: url('/malevolent-free/Malevolent.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: 'Malevolent', cursive;
}


.josefin-slab {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ced4da !important;
  
}

body
{
  background-color: #FFF8ED;
}
